[submodule "PortfolioSite"]
	path = PortfolioSite
	url = https://github.com/xmerr/PortfolioSite
[submodule "AvatarCraft"]
	path = AvatarCraft
	url = https://github.com/Xmerr/AvatarCraft
[submodule "WoolyWilly"]
	path = WoolyWilly
	url = https://github.com/Xmerr/WoolyWilly
